body {
    background: #F9F9F9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

header {
    display: flex;
    align-items: center;
    height: 54px;
    background: white;
}
nav a {
    padding: 0 8vw;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}
#search {
    width: 50vw;
    height: 32px;
}

.main-container {
    margin: 2vw;
}

.video-suggestions-container {
    margin: 5vh 0;
    width: min(96vw, 350px);
}

iframe {
    width: min(640px, 96vw);
    height: min(360px, 54vw);
}

.video-title {
    padding: min(1vh, 15px) 0;
}
.video-view-count {
    font-size: 1rem;
    color: #606060;
    padding-bottom: min(1vh, 15px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.video-description {
    font-size: 1rem;
    padding: min(3vh, 15px) 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

ul.comments {
    margin-top: 40px;
    font-size: 1rem;
}
ul.comments li {
    margin: 20px 0;
}

aside {
    margin-left: 10px;
}
aside ul li {
    height: 94px;
    clear: left;
    margin-bottom: 10px;
}
aside img {
    float: left;
    width: 168px;
    height: 94px;
    margin-right: 8px;
}

.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    top: auto;
    overflow: hidden;
}

@media (min-width: 1000px) {
    .main-container {
        width: 640px;
    }

    .video-suggestions-container {
        position: absolute;
        top: calc(54px + 2vw);
        left: calc(640px + 2.7vw);
        margin: 0;
    }
}